{% extends "layout.html" %} {% block body %}

<div class="card-body">
    <h5 class="card-title">Ações</h5>
    <div class="list-group">
        {% if not message %}
        <a href="{{ url_for('start') }}" class="list-group-item list-group-item-action text-success">Iniciar o
            Sorteio</a>
        {% endif %}
        <a href="{{ url_for('bet') }}" class="list-group-item list-group-item-action">Registrar Nova Aposta</a>
        <a href="{{ url_for('list') }}" class="list-group-item list-group-item-action">Listar Apostas</a>
        <a href="{{ url_for('end') }}"
            onclick="return confirm('Você tem certeza que deseja finalizar o sorteio? O sistema vai começar a apuração dos resultados.')"
            class="list-group-item list-group-item-action {% if message %}text-danger{% else %}disabled{% endif %}">Finalizar
            Sorteio</a>
    </div>

    {% if message %}
    <div class="alert alert-success mt-3" role="alert">
        {{ message }}
    </div>
    {% endif %}
    {% if warning %}
    <div class="alert alert-danger" role="alert">
        {{ warning }}
    </div>
    {% endif %}
</div>


{% endblock %}